<dx-popup height="auto" [showTitle]="false" [showCloseButton]="true" [maxWidth]="550" [closeOnOutsideClick]="true"
          [visible]="isCreatePlantPopupVisible" (onHidden)="isPopupCreatePlantShouldBeHidden.emit()">
  <div id="createPlantContainer" class="login-clean text-center">
    <h3>Choose the type of plant</h3>
    <div class="row">
      <div *ngFor="let plantType of plantTypes" class="col-6 column-mobile">
        <img class="plant-type" alt=""
             src="assets/img/authorized/workspace/plant/create/{{plantType.name.toLowerCase()}}.png"
             [ngStyle]="{'border': initialPlant.plantType == plantType ? '3px solid rgb(131,199,135)' : 'none'}"
             (click)="choosePlantType(plantType)">
        <h4>{{plantType.name}}</h4>
        <p>{{plantType.maxLeaves}} Leaves</p>
      </div>
    </div>
  </div>

  <div id="nextStepContainer" class="text-center">
    <button class="btn button" [disabled]="initialPlant.plantType == null"
            [@changeButtonState]="playNextButtonAnimation" (click)="isSetNameSectionVisible = true;"
            (mousedown)="playNextButtonAnimation = true;" (mouseup)="playNextButtonAnimation = false;"
            (mouseleave)="playNextButtonAnimation = false;">Next</button>
  </div>
</dx-popup>

<dx-popup height="auto" [showTitle]="false" [showCloseButton]="true" [maxWidth]="400" [closeOnOutsideClick]="true"
          [visible]="isSetNameSectionVisible">
  <div id="setPlantNameContainer" class="login-clean text-center">
    <h3>Type a name for your plant</h3>
    <input class="form-control" placeholder="Plant name" [(ngModel)]="initialPlant.name">
    <div class="row">
      <div id="previousStepContainer" class="col-6 column-mobile">
        <button class="btn button" [@changeButtonState]="playBackButtonAnimation"
                (click)="isSetNameSectionVisible = false;" (mousedown)="playBackButtonAnimation = true;"
                (mouseup)="playBackButtonAnimation = false;"
                (mouseleave)="playBackButtonAnimation = false;">Back</button>
      </div>
      <div id="savePlantContainer" class="col-6 column-mobile">
        <button class="btn button" [@changeButtonState]="playPlantASeedButtonAnimation" (click)="savePlant()"
        (mousedown)="playPlantASeedButtonAnimation = true;" (mouseup)="playPlantASeedButtonAnimation = false;"
        (mouseleave)="playPlantASeedButtonAnimation = false;">Plant a seed</button>
      </div>
    </div>
  </div>
</dx-popup>